nav {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    }
    nav ul{
        display: flex;
    }
    nav li{
        display: flex;
    }
    nav p{
        display: flex;
        color: blue;
    }
    nav p1 {
    color: blue;
    margin-right: 90px;
    margin-top: 16px;
    font-size: 32px;
    font-weight: bold;
    }
    nav p2 {
     color: blue;
    margin-left: 90px;
    margin-top: 16px;
    font-size: 32px;
    font-weight: bold;
    }
    nav p3{
        display: flex;
        color: blue;
        margin-top: 16px;
        margin-left: 15px;
        font-size: 32px;
        font-weight: bold;
    
    }nav p4{
        display: flex;
        color: blue;
        margin-top: 16px;
        margin-left: 15px;
        font-size: 32px;
        font-weight: bold;
    
    }nav p5{
        display: flex;
        color: blue;
        margin-top: 16px;
        margin-left: 15px;
        font-size: 32px;
        font-weight: bold;
    
    }nav p6{
        display: flex;
        color: blue;
        margin-top: 16px;
        margin-left: 15px;
        font-size: 32px;
        font-weight: bold;
    }