* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Goldman", cursive;
    background-color:#2f7258;
  }

  nav {
    display: flex;
    width: 100%;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background: #0a3d2a;
    justify-content: space-between;
    position: fixed;
  }
  nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 32px;
  }
  nav li {
    font-size: 3rem;
    padding: 0 4rem 0 4rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav li:hover {
    background-color: rgb(174, 202, 60);
    color: black;
    padding: 0 7rem 0 7rem;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    border: #ffffff;
    border-style: double;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  nav img {
    width: 10vw;
    
  }
  .dropbtn {
    background-color: rgb(219 255 74);
    color: black;
    padding: 0 7rem 0 7rem;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 40px;
    border: #000000;
    border-style: groove;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(182, 212, 61);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: black;
    border-style: groove;
  }
  
  .dropdown-content a {
    color: #fcfcfc;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }
  
  .dropdown-content a:hover {background-color: #116444;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #1b7955;
  }

  h1 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 52px;
            color: white;
            padding-left: 10px;
        }
        h4 {
            font-size: 18px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 10px;
        }

  .kopjes {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fcfcfc;
  }

  .lastofus {
    width: 25%;
    height: 35%;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .video {
    font-size: 20px;
  }

  .tijden {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }